body, h1, label, input, button {
    margin: 0;
    padding: 0;
}

/* Estilo geral do corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 100vh;
}

div{
    background: white;
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px; 
    text-align: center; 
}
/* Estilo do título */
h1 {
    margin-bottom: 20px; 
    font-size: 24px;
    color: #000000;
}

/* Estilo dos rótulos */
label {
    display: block; 
    margin-bottom: 10px; 
}

/* Estilo do campo de entrada */
input{
    width: 85%; 
    padding: 10px; 
    margin: 15px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px; 
}

/* Estilo do botão*/
 a{
    text-decoration-line: none;
    background-color: blue;
    color: white; 
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
}

button {
    text-decoration-line: none;
    background-color: blue;
    color: white; 
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
}

/* Efeito de hover no botão */
button:hover {
    background-color: rgb(69, 69, 255); /
}
a:hover{
    background-color: rgb(69, 69, 255);
}

/* Estilo para mostrar o resultado */
span {
    display: block; 
    margin-top: 20px; 
    font-size: 18px;
    color: #333; 
}
