
body, h1, p, li {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background: #ff9900;
    color: white;
    padding: 20px 0;
    text-align: center;
}

main {
    padding: 20px;
}

.elementomae {
    margin-bottom: 20px;
}

div {
    text-align: justify;
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tabela {
    margin: 20px 0;
}

table {
    width: 100%;
}


#oq{
    font-family: monospace;
    border-right: 4px solid ;
    white-space: nowrap;
    width: 8ch;
    overflow: hidden;
    animation: animaMarcador 0.7s linear infinite, animatexto steps(8) 2.5s;

}
#op{
    font-family: monospace;
    border-right: 4px solid ;
    white-space: nowrap;
    width: 13ch;
    overflow: hidden;
    animation: animaMarcador 0.7s linear infinite, animatexto steps(13) 2.5s;

}
#pu{
    font-family: monospace;
    border-right: 4px solid ;
    white-space: nowrap;
    width: 16ch;
    overflow: hidden;
    animation: animaMarcador 0.7s linear infinite, animatexto steps(16) 2.5s;

}
@keyframes animaMarcador {
    50%{
        border-right: transparent;
    }
    
}
@keyframes animatexto {
    0%{
        width: 0;
    }
    
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #ff9900;
    color: white;
}
a{
    display: flex;
    align-items: center;
    text-decoration-line: none;
    background-color: #ff9900;
    color: white; 
    border: none;
    padding: 10px;
    border-radius: 4px; 
    font-size: 16px;
}

footer {
    color: white;
    text-align: center;
    padding: 10px 0;
    background: #000000;
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .caixa {
        padding: 10px;
    }

    th, td {
        font-size: 14px;
    }
}


 