
body, h1, li {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #2d2e47;
    color: white;
    padding: 20px 0;
    text-align: center;
    height: 50px;
}


main {
    padding: 20px;
}

.elementomae {
    margin-bottom: 20px;
}
.elementopai{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: #3e7996;
}
.a{
    text-align: center;
    display: flex;
    flex-direction: column;
    text-decoration-line: none;
    background-color: ##2d2e47;
    color: white; 
    border: none;
    padding: 15px;
    border-radius: 4px; 
    font-size: 16px;
}
.box{
    width: 48.39%;
    text-align: justify;
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
p{
    padding-left: 80px;
    padding-right:80px;
    font-size: 20px;
}
div h1{
    text-align: center;
    color: #0051ff;
}
.caixa {
    text-align: justify;
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
div h2{
    text-align: center;
}
ul{
    padding-left: 8%;
    padding-right: 30%;
}
div h3{
    padding-left: 8%;
    padding-right: 30%;
}

.tabela {
    margin: 20px 0;

}

table {
    width: 55%;
    margin-left: 20%;

}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #2d2e47;
    color: white;
}


footer {
    color: white;
    text-align: center;
    padding: 10px 0;
    background: #2d2e47;
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .caixa {
        padding: 10px;
    }

    th, td {
        font-size: 14px;
    }
}
